@import url('https://fonts.googleapis.com/css?family=Farsan');

.codigo h2{
	font-size: 25px;
	font-family: 'Farsan', cursive;
	color: red;
}

.codigo h3{
	font-size: 25px;
	font-family: 'Farsan', cursive;
	color: green;
}

.codigo h1{
	font-size: 30px;
	font-family: 'Farsan', cursive;
	color: grey;
}

button{
	font-size: 20px;
	font-family: 'Farsan', cursive;
}